.vscode/**
.vscode-test/**
.github/**
test/**
tests/**
src/**
node_modules/**
logs/**
out/
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
esbuild.js
eslint.config.js
package-lock.json
*.vsix
MEMORY_FIX_REPORT.md
